
   <form>
   <div class="container">
      <h1>Register</h1>
  
      
      
      <label for="Name"><b>Username</b></label><br/>
      <input type="text" placeholder="Enter Name" name="Name" required><br/>
  
      <label for="email"><b>Email</b></label><br/>
      <input type="text" placeholder="Enter Phone Number" name="email" required><br/>
  
      <label for="phno"><b>Phone Number</b></label><br/>
     <input type="number" placeholder="Enter Phone Number" name="phno" required><br/>
  
      <label for="address"><b>Address</b></label><br/>
      <input type="text" placeholder="Enter address" name="address" required><br/>
  
      <label for="psw"><b>Password</b></label><br/>
      <input type="password" placeholder="Enter Password" name="psw" required><br/>
  
      <label for="psw"><b>Confirm Password</b></label><br/>
      <input type="password" placeholder="Confirm Password" name="psw" required><br/>
  
  
  
  
      <hr>
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p><br/>
  
      <button type="submit" class="registerbtn">Register</button><br/>
    </div>
    
    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
</form>